:root { 
--black_900_a0:#000000a0; 
--gray_900_02:#1e1e1e; 
--gray_600:#757575; 
--white_A700_b1:#ffffffb1; 
--gray_900_03:#101117; 
--blue_gray_200:#9eb8c1; 
--gray_500:#aaaaaa; 
--gray_800:#393939; 
--gray_900:#14121b; 
--light_green_A700:#50f841; 
--gray_900_01:#181a21; 
--black_900_0f:#0000000f; 
--yellow_A700_01:#ffd400; 
--red_500:#ff4a31; 
--yellow_A700:#ffd90f; 
--orange_400:#ffad31; 
--green_A200:#49e5b7; 
--black_900_11:#00000011; 
--black_900:#000000; 
--deep_orange_A700:#d12a13; 
--cyan_800:#00838f; 
--white_A700:#ffffff; 
--indigo_500:#3f4dcb; 
}